snippet init
#include <stdio.h>

int main()
{
	$0
	return 0;
}
endsnippet


snippet main
int main(int argc, char *argv[])
{
	$0
	return 0;
}
endsnippet



snippet func
$1 $2($3)
{
	$4
	return 0;
}
endsnippet



snippet print
printf("$1\n", $2);
endsnippet



snippet for
for(int i = 0; i < $1; i++) {
	$0
}
endsnippet



snippet struct
struct $1 {
	$0
};
endsnippet



snippet inc
#include <$0>
endsnippet
