snippet init
#include <iostream>

using namespace std;

int main()
{
	$1
}
endsnippet

snippet print
cout << $1 << endl;
endsnippet

snippet for
for (int i=0; i<$1; i++) {
	$2
}
endsnippet

snippet func
$1 $2($3)
{
	$4
}
endsnippet
