snippet for
for i:=0; i<$1; i++ {
	$2
}
endsnippet

snippet forrange
for i, $1 := range $2 {
	$3
}
endsnippet

snippet print
fmt.Println($1)
endsnippet

snippet init
package main

import (
	$1
)

func main() {
	$2
}
endsnippet

snippet func
func $1($2) $3 {
	$4
	return
}
endsnippet
