snippet var
variable "$1" {
	type = $2
	description = "$3"
}
endsnippet

snippet init
# ------------------------------------------------
# Inputs
# ------------------------------------------------

$1

# ------------------------------------------------
# Resources
# ------------------------------------------------



# ------------------------------------------------
# Outputs
# ------------------------------------------------
endsnippet

snippet out
output "$1" {
  description = "$2"
  value       = $3
}
endsnippet

snippet re
resource "$1" "$2" {
	$0
}
endsnippet

snippet mod
module "$1" {
	source = "$2"
}
endsnippet

snippet dep
dependency "$1" {
	config_path = "$2"
}
endsnippet

snippet tginit
locals {
  env_vars = read_terragrunt_config(find_in_parent_folders("$1"))
}

include {
  path = find_in_parent_folders()
}

inputs = {
  $0
}
endsnippet
