snippet html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$1</title>
</head>
<body>
    $2
</body>
</html>
endsnippet



snippet script
<script src="$1"></script>
endsnippet



snippet div
<div $1>
	$2
</div
endsnippet


snippet <
<$1 class="$2">
	$0
</$1>
endsnippet
