snippet hoodhacks
"$1": {
	"display": "$2",
	"description": "$3",
	"slack_channels": [
		{
			"type": "general",
			"display": "$4",
			"url": "https://hood.slack.com/archives/$5"
		}
	],
	"task_management": [
		{
			"type": "jira",
			"display": "$6",
			"url": "https://robinhood.atlassian.net/jira/servicedesk/projects/$6/issues/"
		}
	],
	"docs": [
		{
			"type": "wiki",
			"display": "$7",
			"url": ""
		}
	],
	"oncall": "$8"
},
endsnippet
