snippet blockComment
/*******************************
 *          $1
 *******************************/
endsnippet



snippet box-shadow
box-shadow: ${1:offset-x} ${2:offset-y} ${3:blur-radius} ${4:color};
endsnippet



snippet flex
flex: ${1: flex-grow} ${2:flex-shrink} ${3:flex-basis|auto|initial|inherit};
endsnippet



snippet gradient
background: linear-gradient(${1:color} 10%, ${2:color} 100%);
endsnippet
