snippet func
def $1($2)
	$0
end
endsnippet

snippet print
puts "$0"
endsnippet

snippet class
class $1
	def initialize(foo = "bar")
		@foo = foo
	end
end
endsnippet

snippet eachdo
$1.each do |$2|
	$0
end
endsnippet
