extends javascript

snippet init
	<script lang="ts">
		import { onMount, onDestroy } from 'svelte'

		// -------------------------------------------------------------------------
		// Props
		// -------------------------------------------------------------------------

		// -------------------------------------------------------------------------
		// Internal
		// -------------------------------------------------------------------------

		onMount(() => {})
		onDestroy(() => {})
	</script>

	<div class="main">
		${0}
	</div>

	<style>
		.main {
		}
	</style>
snippet va
	var(--${0});
snippet hsl
	hsl(
		var(--${1}-h),
		var(--${1}-s),
		var(--${1}-l),
		1
	)
snippet mousehandlers
	function onmousemove(evt: MouseEvent) {

	}

	function onmouseup(evt: MouseEvent) {

		window.removeEventListener('mousemove', onmousemove)
		window.removeEventListener('mouseup', onmouseup)
	}

	function onmousedown(evt: MouseEvent) {

		window.addEventListener('mousemove', onmousemove)
		window.addEventListener('mouseup', onmouseup)
	}
snippet onMount
	import { onMount, onDestroy } from 'svelte'

	onMount(() => {
	})
	onDestroy(() => {
	})
snippet section
	// -------------------------------------------------------------------------
	// ${0}
	// -------------------------------------------------------------------------
